<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel='stylesheet' href='webjars/bootstrap/3.3.7-1/css/bootstrap.min.css' />
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
	
</head>
<body>
		<p>Aktualny mnożnik doświadczenia: <span th:text="${xpMultiplier}"></span></p>
</body>
</html>