<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel='stylesheet' href='webjars/bootstrap/3.3.7-1/css/bootstrap.min.css' />
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
	<script type="text/javascript" src="webjars/jquery/3.1.1-1/jquery.min.js"></script>
	<script type="text/javascript" src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	<script type="text/javascript" src="js/budget.js"></script>
<title>NPCPlayerStats</title>
</head>
<body>
	<div class="container">
		<div th:replace="fragments/navbar :: navbar"></div>
		
		<h1>Szczegóły zawodnika</h1>

		<table class="table">
			<tr>
				<td>ID</td>
				<td><span th:text="${player.idNPC}"></span></td>
			</tr>

			<tr>
				<td>Nazwa</td>
				<td><span th:text="${player.name}"></span></td>
			</tr>

			<tr>
				<td>Koszt</td>
				<td><span th:text="${player.cost}"></span></td>
			</tr>

			<tr>
				<td>Kondycja</td>
				<td><span th:text="${player.stamina}"></span></td>
			</tr>

			<tr>
				<td>Siła</td>
				<td><span th:text="${player.strength}"></span></td>
			</tr>

			<tr>
				<td>Zwinność</td>
				<td><span th:text="${player.agility}"></span></td>
			</tr>

			<tr>
				<td>Szybkość</td>
				<td><span th:text="${player.speed}"></span></td>
			</tr>

			<tr>
				<td>Wytrzymałość</td>
				<td><span th:text="${player.endurance}"></span></td>
			</tr>

			<tr>
				<td>Stan zdrowia</td>
				<td><span th:text="${player.health}"></span></td>
			</tr>

			<tr>
				<td>Zmęczenie</td>
				<td><span th:text="${player.fatigue}"></span></td>
			</tr>

			<tr>
				<td>Pozycja</td>
				<td><span th:text="${player.position.toStringFullName()}"></span></td>
			</tr>
			
			<tr><td><a class="btn btn-large btn-primary" th:href="'/teamDetails?idTeam=' + ${idTeam}">Wróć</a></td><td/><td/></tr>
		</table>
		
		<div th:replace="fragments/footer :: footer"></div>
	</div>
	

</body>
</html>