<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel='stylesheet' href='webjars/bootstrap/3.3.7-1/css/bootstrap.min.css' />
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
	<script type="text/javascript" src="webjars/jquery/3.1.1-1/jquery.min.js"></script>
	<script type="text/javascript" src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/budget.js"></script>
<title>NPCPlayerStats</title>
</head>
<body>
	<div class="container">
		<div th:replace="fragments/navbar :: navbar"></div>

		<div class="row">
			<div class="col-lg-10">
				<h1>Szczegóły zawodnika</h1>
			</div>
			
			<div class="col-lg-2" th:replace="fragments/budget :: budget"></div>
		</div>
		
		<table class="table">
			<tr>
				<td>ID</td>
				<td><span th:text="${player.idNPC}"></span></td>
			</tr>

			<tr>
				<td>Nazwa</td>
				<td><span th:text="${player.name}"></span></td>
			</tr>

			<tr>
				<td>Koszt</td>
				<td><span th:text="${player.cost}"></span></td>
			</tr>

			<tr>
				<td>Kondycja</td>
				<td><span th:text="${player.stamina}"></span></td>
			</tr>

			<tr>
				<td>Siła</td>
				<td><span th:text="${player.strength}"></span></td>
			</tr>

			<tr>
				<td>Zwinność</td>
				<td><span th:text="${player.agility}"></span></td>
			</tr>

			<tr>
				<td>Szybkość</td>
				<td><span th:text="${player.speed}"></span></td>
			</tr>

			<tr>
				<td>Wytrzymałość</td>
				<td><span th:text="${player.endurance}"></span></td>
			</tr>

			<tr>
				<td>Stan zdrowia</td>
				<td><span th:text="${player.health}"></span></td>
			</tr>

			<tr>
				<td>Zmęczenie</td>
				<td><span th:text="${player.fatigue}"></span></td>
			</tr>

			<tr>
				<td>Pozycja</td>
				<td><span th:text="${player.position.toStringFullName()}"></span></td>
			</tr>
			
			<tr>
				<td>
					<form action="#" th:action="@{/npcPlayerList}" th:object="${searchPlayerForm}" method="get">
						<input type="hidden" th:field="*{name}"/> 
						<input type="hidden" th:field="*{minCost}"/> 
						<input type="hidden" th:field="*{maxCost}"/>
						<input type="hidden" th:field="*{idTeam}"/>
						<button class="btn btn-large btn-primary" type="submit">Wróć</button>
					</form>
				</td><td/>
			</tr>
		</table>
		
		<div th:replace="fragments/footer :: footer"></div>
	</div>
	

</body>
</html>