<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel='stylesheet' href='webjars/bootstrap/3.3.7-1/css/bootstrap.min.css' />
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
	<script type="text/javascript" src="webjars/jquery/3.1.1-1/jquery.min.js"></script>
	<script type="text/javascript" src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
	<title>Rejestracja</title>
</head>
<body class="container background-image">
	
<script>
	var images=new Array('../images/background2.jpg','../images/background1.jpg','../images/background.jpg');
	var nextimage=0;
	doSlideshow();
	
	function doSlideshow(){
	    if(nextimage>=images.length){nextimage=0;}
	    $('.background-image')
	    .css('background-image','url("'+images[nextimage++]+'")')
	    .fadeIn(500,function(){
	        setTimeout(doSlideshow,5000);
	    });
	}
</script>
	
	
	<div class="col md-4 text-center">
		<a class="btn btn-large btn-primary button-enter" href="/login">Mam już konto</a>
		<a class="btn btn-large btn-primary button-enter" href="/register">Jestem nowy</a>	
	</div>
	
	<div class="col md-4 text-center">
		<a class="btn btn-large btn-primary button-enter button-enter-how-to-play" href="/howToPlay">Jak grać</a>	
	</div>

	<div class="login-field">
		<form class="register-form" action="#" th:action="@{/confirmRegister}" th:object="${registerForm}" method="post">
			<div class="alert alert-success" th:if="${success}"><strong>Sukces!</strong> Zarejestrowano użytkownika <span th:text="${login}"></span></div>
			<h2>Rejestracja</h2>
			<div class="alert alert-danger" th:if="${errorPassword}"><strong>Błąd!</strong> Hasła muszą być identyczne!</div>
			<div class="alert alert-danger" th:if="${errorUnique}"><strong>Błąd!</strong> Podane login i/lub e-mail znajdują się już w bazie!</div>
			<input type="text" class="input-block-level" th:field="*{login}" placeholder="login" />
			<div class="alert alert-warning" th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Błędny login</div>
			<input type="password" class="input-block-level" th:field="*{password}" placeholder="hasło" />
			<div class="alert alert-warning" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Błędne hasło</div>
			<input type="password" class="input-block-level" th:field="*{confirmPassword}" placeholder="potwierdź hasło" />
			<div class="alert alert-warning" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">Błędne hasło</div>
			<input type="text" class="input-block-level" th:field="*{email}" placeholder="e-mail" />
			<div class="alert alert-warning" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Błędny email</div>
			<button class="btn btn-large btn-primary" type="submit">Zarejestruj</button>
		</form>
		
	</div>
</body>
</html>