<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<title>Wyszukiwanie sztabu szkoleniowego</title>
	<link rel='stylesheet' href='webjars/bootstrap/3.3.7-1/css/bootstrap.min.css' />
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
	<script type="text/javascript" src="webjars/jquery/3.1.1-1/jquery.min.js"></script>
	<script type="text/javascript" src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/budget.js"></script>
</meta>
</head>
<body>
	<div class="container">
		<div th:replace="fragments/navbar :: navbar"></div>
		
		<div class="row">
			<div class="col-lg-10">
				<h1>Wyszukiwanie sztabu szkoleniowego</h1>
			</div>
			
			<div class="col-lg-2" th:replace="fragments/budget :: budget"></div>
		</div>
		
			<form action="#" th:action="@{/npcTrainerList}" th:object="${searchPlayerForm}" method="get">
				<div class="row" style="margin: 10px 0px 0px 0px">
					<div class="col-md-2 text-center">
						Nazwa trenera</div><div class="col-md-2 text-center"><input type="text" class="input-block-level"  th:field="*{name}"/>
					</div>
				</div>
				
				<div class="row" style="margin: 10px 0px 0px 0px">
					<div class="col-md-2 text-center">
						Minimalna cena</div><div class="col-md-2 text-center"><input type="text" class="input-block-level"  th:field="*{minCost}"/>
					</div>
							
					<div class="col-md-2 text-center">
						Maksymalna cena</div><div class="col-md-2 text-center"><input type="text" class="input-block-level" th:field="*{maxCost}"/>
					</div>
				</div>
				
				<div class="row" style="margin: 10px 0px 0px 0px">
					<button class="btn btn-large btn-primary" type="submit">Wyszukaj</button>
				</div>
				
				<input type="hidden" th:field="*{idTeam}"/>
			</form>
			<a class="btn btn-large btn-primary" th:href="'/teamDetails?idTeam=' + ${idTeam}">Wróć</a>
			
			<div th:replace="fragments/footer :: footer"></div>
	</div>
</body>
</html>