@CHARSET "UTF-8";

.background-image {
	background-image: url("../images/background1.jpg");
	background-size: cover;
	transition: background-image 1s linear;
}

body {
	padding: 65px 150px;
}

/* Strona główna */
.button-enter {
	margin: 100px 0 0 0;
	padding-top: 15px;
	height: 70px;
	width: 200px;
	font-size: 24px;
	background: rgba(51, 122, 183, 0.7);
	border-color: rgba(51, 122, 183, 0.7);
	transition: background 1s, border-color 1s;
}

.button-enter-how-to-play {
	margin: 10px 0 0 0;
	padding-top: 15px;
	height: 55px;
	width: 140px;
	font-size: 20px;
	background: rgba(51, 122, 183, 0.7);
	border-color: rgba(51, 122, 183, 0.7);
	transition: background 1s, border-color 1s;
}


.button-enter:HOVER {
	transition: 1s;
	background: rgba(51, 122, 183, 1);
	border-color: rgba(51, 122, 183, 1);
}

.login-field {
	padding: 20px;
	margin: 50px auto;
	width: 700px;
	height: auto;
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	text-align: center;
}

.login-field input {
	margin-top: 20px;
	margin-bottom: 20px;
	display: block;
	color: black;
	margin-left: auto;
	margin-right: auto;
}

/* Navbar */
ul.nav li.dropdown:hover>ul.dropdown-menu {
	display: block;
}

/* Footer */
footer {
	background-color: #262626;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 35px;
	text-align: center;
	color: #CCC;
}

footer p {
	padding: 10.5px;
	margin: 0px;
	line-height: 100%;
}

.not-active {
	pointer-events: none;
	cursor: default;
}

/* Chat */
.panel {
	position: fixed;
	bottom: 15px;
	right: 0;
	width: 600px;
}

.chat {
	list-style: none;
	margin: 0;
	padding: 0;
}

.chat li {
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #B3A9A9;
}

.chat li.removed {
	opacity: 0.5;
}

.chat li.left .chat-body {
	margin-left: 60px;
}

.chat li.right .chat-body {
	margin-right: 60px;
}

.chat li .chat-body p {
	margin: 0;
	color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon {
	margin-right: 5px;
}

.option-btn .glyphicon {
	margin-left: 5px;
}

.panel-body {
	overflow-y: scroll;
	height: 250px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #555;
}

.how-to-play-field {
	padding: 20px;
	margin: 50px auto;
	width: 1400px;
	height: auto;
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	text-align: center;
}
