<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel='stylesheet' href='webjars/bootstrap/3.3.7-1/css/bootstrap.min.css' />
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>

<body>
	<footer>
        <p>© 2017<a style="color:#0a93a6; text-decoration:none;" href="#"> Football Manager</a>,  All rights reserved 2017.</p>
    </footer>
</body>
</html>