<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel='stylesheet' href='webjars/bootstrap/3.3.7-1/css/bootstrap.min.css'/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
	<title>Mnoznik</title>
</head>

<body>
	<div class="" th:fragment="xpMultiplier">
		<div id="xpMultiplier"></div>
		
	</div>
</body>
</html>